@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7cc1fd;
  --secondary: #005cd4;

  --primary-color-text: #e6e6e7;
  --secondary-color-text: #f5f5f6;

  --color-bg1: rgb(8, 10, 15);
  --color-bg2: rgb(0, 17, 32);
  --color1: 18, 113, 255;
  --color2: 107, 74, 255;
  --color3: 100, 100, 255;
  --color4: 50, 160, 220;
  --color5: 80, 47, 122;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

.text-animate {
  background: linear-gradient(
    to right,
    var(--secondary) 20%,
    var(--primary) 40%,
    var(--primary) 60%,
    var(--secondary) 80%
  );
  background-size: 200%;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  animation: text 4s linear infinite;
}

@keyframes text {
  to {
    background-position: 200% center;
  }
}

@layer utilities {
  .bg-tech {
    background-image: linear-gradient(to top, #0ba36100 0%, #9900ff4a 100%);
  }
}
