.embla {
  width: 100%;
  margin: 0 auto;
  --slide-size: 50%;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin: 0 auto;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
}

.tech_carousel {
  flex: 0 0 25%;
}

.embla__slide__number {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.embla__dot {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

.embla__dot__selected {
  background: #007bff;
  transform: scale(1.2);
}
