DATABASE_URL="database connection string here"
NEXT_PUBLIC_URL_ENDPOINT="cdn endpoint for image URL generation here"
PRIVATE_KEY="private key for image upload here"
NEXT_PUBLIC_PUBLIC_KEY="public key for image upload here"

# Sanity environment variables
NEXT_PUBLIC_SANITY_DATASET="sanity dataset name here"
NEXT_PUBLIC_SANITY_PROJECT_ID="sanity project ID here"
SANITY_API_READ_TOKEN="sanity token read-only permission here"